.tbu0f {
    --v1: calc(var(--navs-menuInlineSize) - (2 * var(--navs-borderRadius)));
    --v2: calc(var(--navs-menuBlockSize) - (2 * var(--navs-borderRadius)));
    --v3: calc(var(--navside-menuSelectedIndex) * var(--navs-menuBlockSize));
    display: inline-grid;
    grid-template: "..... ....... ....... ........"var(--navs-paddingBlock) "..... ....... ....... ........"calc(0px - var(--navs-borderRadius)) "..... ....... fill1    corner1"var(--navs-borderRadius) "..... corner2 ....... ........"var(--navs-borderRadius) "..... void3   ....... ........"var(--v2) "..... corner4 ....... ........"var(--navs-borderRadius) "..... ......  fill5    corner5"var(--navs-borderRadius) "..... menusC3 .......  menusC4"auto "..... ....... ....... ........"1fr "..... ....... ....... ........"var(--navs-paddingBlock) / var(--navs-paddingInline) var(--navs-borderRadius) auto var(--navs-borderRadius);
    filter: var(--navs-dropShadow);
    border-style: var(--navs-borderStyle);
    border-width: var(--navs-borderWidth);
    border-radius: var(--navs-borderRadius);
    min-inline-size: var(--navs-minInlineSize);
    min-block-size: var(--navs-minBlockSize);
    padding-inline: var(--navs-paddingInline);
    padding-block: var(--navs-paddingBlock);
    border: var(--bd-border);
    border-start-start-radius: var(--bd-borderStartStartRadius);
    border-start-end-radius: var(--bd-borderStartEndRadius);
    border-end-start-radius: var(--bd-borderEndStartRadius);
    border-end-end-radius: var(--bd-borderEndEndRadius);
    --bd-borderColorFn: var(--th-borderCond, var(--th-border, var(--navs-borderColor)));
    --bd-borderColor: var(--ol-foregTg, var(--bd-borderColorFn));
    --bd-borderStyle: var(--navs-borderStyle);
    --bd-borderWidth: var(--navs-borderWidth);
    --bd-border: var(--bd-borderStyle) var(--bd-borderWidth) var(--bd-borderColor);
    --bd-borderStartStartRadius: var(--navs-borderRadius);
    --bd-borderStartEndRadius: var(--navs-borderRadius);
    --bd-borderEndStartRadius: var(--navs-borderRadius);
    --bd-borderEndEndRadius: var(--navs-borderRadius);
    --bd-borderRadius: var(--bd-borderStartStartRadius) var(--bd-borderStartEndRadius) var(--bd-borderEndEndRadius) var(--bd-borderEndStartRadius);
    --pd-paddingInline: var(--navs-paddingInline);
    --pd-paddingBlock: var(--navs-paddingBlock);
    --pd-padding: var(--pd-paddingBlock) var(--pd-paddingInline);
    border-color: transparent;
    padding: 0;
    --gd-backgGrad: var(--bsc-backgGrad);
    --gd-gradientSw: var(--gd-gradientPr);
    --gd-backgGradTg: var(--gd-gradientSw) var(--gd-backgGrad);
    --ol-outlinedSw: var(--ol-outlinedPr);
    --ol-backgFn: var(--th-backgMildCond, var(--th-backgMild, var(--bsc-backg)));
    --ol-foregFn: var(--th-foregOutlinedCond, var(--th-foregOutlined, var(--bsc-foreg)));
    --ol-altBackgFn: var(--th-altBackgOutlinedCond, var(--th-altBackgOutlined, var(--bsc-altBackg)));
    --ol-altForegFn: var(--th-altForegOutlinedCond, var(--th-altForegOutlined, var(--bsc-altForeg)));
    --ol-noBackgTg: var(--ol-outlinedSw) transparent;
    --ol-backgTg: var(--ol-outlinedSw) var(--ol-backgFn);
    --ol-foregTg: var(--ol-outlinedSw) var(--ol-foregFn);
    --ol-altBackgTg: var(--ol-outlinedSw) var(--ol-altBackgFn);
    --ol-altForegTg: var(--ol-outlinedSw) var(--ol-altForegFn);
    --mi-mildSw: var(--mi-mildPr);
    --mi-backgFn: var(--th-backgMildCond, var(--th-backgMild, var(--bsc-backg)));
    --mi-foregFn: var(--th-foregMildCond, var(--th-foregMild, var(--bsc-foreg)));
    --mi-altBackgFn: var(--th-altBackgMildCond, var(--th-altBackgMild, var(--bsc-altBackg)));
    --mi-altForegFn: var(--th-altForegMildCond, var(--th-altForegMild, var(--bsc-altForeg)));
    --mi-backgTg: var(--mi-mildSw) var(--mi-backgFn);
    --mi-foregTg: var(--mi-mildSw) var(--mi-foregFn);
    --mi-altBackgTg: var(--mi-mildSw) var(--mi-altBackgFn);
    --mi-altForegTg: var(--mi-mildSw) var(--mi-altForegFn);
    --nu-nudeSw: var(--nu-nudePr);
}

.tbu0f>.underlay {
    --fo-boxShadow: var(--an-boxShadowNone);
    --ex-filter: var(--an-filterNone);
    --di-filter: var(--an-filterNone);
    --ac-filter: var(--an-filterNone);
    --in-filter: var(--an-filterNone);
    --cl-filter: var(--an-filterNone);
    --ex-anim: var(--an-animNone);
    --co-anim: var(--an-animNone);
    --di-anim: var(--an-animNone);
    --ac-anim: var(--an-animNone);
    --fo-anim: var(--an-animNone);
    --in-anim: var(--an-animNone);
    --cl-anim: var(--an-animNone);
    --iv-animValid: var(--an-animNone);
    --iv-animInvalid: var(--an-animNone);
    background: var(--bg-backg);
    color: var(--fg-foreg);
    border-style: var(--bsc-borderStyle);
    border-width: var(--bsc-borderWidth);
    border-color: var(--bsc-borderColor);
    transition-duration: var(--bsc-transitionDuration);
    transition: var(--bsc-transition);
    font-size: var(--bsc-fontSize);
    font-family: var(--bsc-fontFamily);
    font-weight: var(--bsc-fontWeight);
    font-style: var(--bsc-fontStyle);
    text-decoration: var(--bsc-textDecoration);
    line-height: var(--bsc-lineHeight);
    border-start-start-radius: var(--bd-borderStartStartRadius);
    border-start-end-radius: var(--bd-borderStartEndRadius);
    border-end-start-radius: var(--bd-borderEndStartRadius);
    border-end-end-radius: var(--bd-borderEndEndRadius);
    box-shadow: var(--an-boxShadow);
    filter: var(--an-filter);
    animation: var(--an-anim);
    --bg-backgNone: linear-gradient(transparent, transparent) border-box;
    --bg-backgColorFn: var(--th-backgCond, var(--th-backg, var(--bsc-backg)));
    --bg-altBackgColorFn: var(--th-altBackgCond, var(--th-altBackg, var(--bsc-altBackg)));
    --bg-backgColor: var(--ol-backgTg, var(--mi-backgTg, var(--bg-backgColorFn)));
    --bg-altBackgColor: var(--ol-altBackgTg, var(--mi-altBackgTg, var(--bg-altBackgColorFn)));
    --bg-backg: var(--gd-backgGradTg, var(--bg-backgNone)), var(--ol-noBackgTg, var(--bg-backgColor));
    --bg-altBackg: var(--gd-backgGradTg, var(--bg-backgNone)), var(--ol-noBackgTg, var(--bg-altBackgColor));
    --fg-foregFn: var(--th-foregCond, var(--th-foreg, var(--bsc-foreg)));
    --fg-altForegFn: var(--th-altForegCond, var(--th-altForeg, var(--bsc-altForeg)));
    --fg-foreg: var(--ol-foregTg, var(--mi-foregTg, var(--fg-foregFn)));
    --fg-altForeg: var(--ol-altForegTg, var(--mi-altForegTg, var(--fg-altForegFn)));
    --bd-borderColorFn: var(--th-borderCond, var(--th-border, var(--bsc-borderColor)));
    --bd-borderColor: var(--ol-foregTg, var(--bd-borderColorFn));
    --bd-borderStyle: var(--bsc-borderStyle);
    --bd-borderWidth: var(--bsc-borderWidth);
    --bd-border: var(--bd-borderStyle) var(--bd-borderWidth) var(--bd-borderColor);
    --bd-borderStartStartRadius: var(--bsc-borderRadius);
    --bd-borderStartEndRadius: var(--bsc-borderRadius);
    --bd-borderEndStartRadius: var(--bsc-borderRadius);
    --bd-borderEndEndRadius: var(--bsc-borderRadius);
    --bd-borderRadius: var(--bd-borderStartStartRadius) var(--bd-borderStartEndRadius) var(--bd-borderEndEndRadius) var(--bd-borderEndStartRadius);
    --ri-ringFn: var(--th-ringCond, var(--th-ring, var(--bsc-ring)));
    --ri-ring: var(--ri-ringFn);
    --an-boxShadowNone: 0 0 transparent;
    --an-filterNone: brightness(100%);
    --an-transformNone: translate(0);
    --an-animNone: none;
    --an-boxShadow: var(--fo-boxShadow), var(--an-boxShadowNone);
    --an-filter: var(--ex-filter) var(--di-filter) var(--ac-filter) var(--in-filter) var(--cl-filter) var(--an-filterNone);
    --an-transform: var(--an-transformNone);
    --an-anim: var(--ex-anim), var(--co-anim), var(--di-anim), var(--ac-anim), var(--fo-anim), var(--in-anim), var(--cl-anim), var(--iv-animValid), var(--iv-animInvalid), var(--an-animNone);
    --pd-paddingInline: var(--bsc-paddingInline);
    --pd-paddingBlock: var(--bsc-paddingBlock);
    --pd-padding: var(--pd-paddingBlock) var(--pd-paddingInline);
    grid-area: 1/1/-1/-1;
    display: grid;
    grid-template: "..... ....... ....... ........"var(--navs-paddingBlock) "..... ....... ....... ........"var(--v3) "..... ....... fill1    corner1"var(--navs-borderRadius) "..... corner2 ....... ........"var(--navs-borderRadius) "..... void3   ....... ........"var(--v2) "..... corner4 ....... ........"var(--navs-borderRadius) "..... ......  fill5    corner5"var(--navs-borderRadius) "..... menusC3 .......  menusC4"auto "..... ....... ....... ........"1fr "..... ....... ....... ........"var(--navs-paddingBlock) / var(--navs-paddingInline) var(--navs-borderRadius) auto var(--navs-borderRadius);
    clip-path: polygon(0 0, 100% 0, 100% calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 1)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.9876883405951378)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.15643446504023087)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.9510565162951535)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.3090169943749474)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.8910065241883679)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.45399049973954675)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.8090169943749475)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.5877852522924731)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.7071067811865476)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.7071067811865475)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.5877852522924731)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.8090169943749475)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.45399049973954686)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.8910065241883678)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.30901699437494745)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.9510565162951535)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.15643446504023092)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.9876883405951378)), calc(100% - var(--navs-borderRadius)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + var(--navs-borderRadius)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + var(--navs-borderRadius)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 1.2246467991473532e-16)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -1)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.15643446504023073)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.9876883405951378)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.30901699437494773)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.9510565162951535)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.45399049973954625)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.8910065241883681)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.587785252292473)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.8090169943749475)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.7071067811865475)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.7071067811865477)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.8090169943749473)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.5877852522924732)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.8910065241883678)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.4539904997395469)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.9510565162951535)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.30901699437494756)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.9876883405951377)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.15643446504023104)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius))), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline)) calc(var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -1.1102230246251565e-16)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.01231165940486234)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.15643446504023095)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.04894348370484636)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.30901699437494745)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.1089934758116321)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.45399049973954675)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.19098300562505255)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.5877852522924729)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.2928932188134524)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.7071067811865475)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.41221474770752675)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.8090169943749475)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.5460095002604531)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.8910065241883678)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.6909830056250525)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.9510565162951536)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.843565534959769)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.9876883405951378)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius)) calc(var(--navs-paddingBlock) + var(--v3) + (3 * var(--navs-borderRadius)) + var(--v2)), calc(100% - var(--navs-borderRadius)) calc(var(--navs-paddingBlock) + var(--v3) + (3 * var(--navs-borderRadius)) + var(--v2)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * -1.8369701987210297e-16)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -1)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.15643446504023067)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.9876883405951378)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.30901699437494723)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.9510565162951536)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.45399049973954664)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.891006524188368)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.5877852522924729)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.8090169943749476)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.7071067811865474)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.7071067811865477)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.8090169943749473)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.5877852522924734)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.8910065241883678)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.45399049973954697)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.9510565162951535)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.3090169943749476)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.9876883405951377)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.15643446504023112)), 100% calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2)), 100% 100%, 0 100%);
    border: var(--bd-border);
    border-radius: inherit;
    margin: calc(0px - var(--bd-borderWidth));
    padding-inline: 0;
    padding-block: 0;
}

.tbu0f>.underlay::selection,
.tbu0f>.underlay ::selection {
    background: var(--bg-altBackgColor);
    color: var(--fg-altForeg);
}

.tbu0f>.underlay>:is(.fill1, .corner1, .corner2, .void3, .corner4, .fill5, .corner5) {
    border: inherit;
    position: relative;
    inset-inline-start: var(--navs-borderWidth);
}

.tbu0f>.underlay>:is(.fill1, .corner1) {
    inset-block-start: var(--navs-borderWidth);
}

.tbu0f>.underlay>:is(.fill5, .corner5) {
    inset-block-end: var(--navs-borderWidth);
}

.tbu0f>.underlay>.fill1 {
    grid-area: fill1;
    border-inline: 0;
    border-block-start: 0;
}

.tbu0f>.underlay>.corner1 {
    grid-area: corner1;
    border-inline-start: 0;
    border-block-start: 0;
    border-end-end-radius: var(--navs-borderRadius);
}

.tbu0f>.underlay>.corner2 {
    grid-area: corner2;
    border-inline-end: 0;
    border-block-end: 0;
    border-start-start-radius: var(--navs-borderRadius);
}

.tbu0f>.underlay>.void3 {
    grid-area: void3;
    border-inline-end: 0;
    border-block: 0;
}

.tbu0f>.underlay>.corner4 {
    grid-area: corner4;
    border-inline-end: 0;
    border-block-start: 0;
    border-end-start-radius: var(--navs-borderRadius);
}

.tbu0f>.underlay>.fill5 {
    grid-area: fill5;
    border-inline: 0;
    border-block-end: 0;
}

.tbu0f>.underlay>.corner5 {
    grid-area: corner5;
    border-inline-start: 0;
    border-block-end: 0;
    border-start-end-radius: var(--navs-borderRadius);
}

.tbu0f>.menus {
    grid-area: corner2/corner2/menusC4/menusC4;
}

.tbu0f>.menus>li>div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    background: transparent;
    flex: 1 1 auto;
    box-sizing: border-box;
    inline-size: var(--navs-menuInlineSize);
    block-size: var(--navs-menuBlockSize);
    padding-inline: var(--navs-menuPaddingInline);
    padding-block: var(--navs-menuPaddingBlock);
    column-gap: var(--navs-menuGapInline);
    row-gap: var(--navs-menuGapBlock);
}

.tbu0f.gradient,
.gradient.tbu0f {
    --gd-gradientPr: ;
}

.tbu0f.not-gradient,
.not-gradient.tbu0f {
    --gd-gradientPr: initial;
}

:where(.tbu0f):not(:is(.gradient.tbu0f, .tbu0f.gradient, .not-gradient.tbu0f, .tbu0f.not-gradient)) {
    --gd-gradientPr: inherit;
}

.tbu0f.outlined,
.outlined.tbu0f {
    --ol-outlinedPr: ;
}

.tbu0f.not-outlined,
.not-outlined.tbu0f {
    --ol-outlinedPr: initial;
}

:where(.tbu0f):not(:is(.outlined.tbu0f, .tbu0f.outlined, .not-outlined.tbu0f, .tbu0f.not-outlined)) {
    --ol-outlinedPr: inherit;
}

.tbu0f.thPrimary {
    --th-backg: var(--col-primary);
    --th-foreg: var(--col-primaryText);
    --th-border: var(--col-primaryBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-primaryMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-primaryThin);
}

.tbu0f.thSecondary {
    --th-backg: var(--col-secondary);
    --th-foreg: var(--col-secondaryText);
    --th-border: var(--col-secondaryBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-secondaryMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-secondaryThin);
}

.tbu0f.thSuccess {
    --th-backg: var(--col-success);
    --th-foreg: var(--col-successText);
    --th-border: var(--col-successBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-successMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-successThin);
}

.tbu0f.thInfo {
    --th-backg: var(--col-info);
    --th-foreg: var(--col-infoText);
    --th-border: var(--col-infoBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-infoMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-infoThin);
}

.tbu0f.thWarning {
    --th-backg: var(--col-warning);
    --th-foreg: var(--col-warningText);
    --th-border: var(--col-warningBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-warningMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-warningThin);
}

.tbu0f.thDanger {
    --th-backg: var(--col-danger);
    --th-foreg: var(--col-dangerText);
    --th-border: var(--col-dangerBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-dangerMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-dangerThin);
}

.tbu0f.thLight {
    --th-backg: var(--col-light);
    --th-foreg: var(--col-lightText);
    --th-border: var(--col-lightBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-lightMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-lightThin);
}

.tbu0f.thDark {
    --th-backg: var(--col-dark);
    --th-foreg: var(--col-darkText);
    --th-border: var(--col-darkBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-darkMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-darkThin);
}

.tbu0f.mild,
.mild.tbu0f {
    --mi-mildPr: ;
}

.tbu0f.not-mild,
.not-mild.tbu0f {
    --mi-mildPr: initial;
}

:where(.tbu0f):not(:is(.mild.tbu0f, .tbu0f.mild, .not-mild.tbu0f, .tbu0f.not-mild)) {
    --mi-mildPr: inherit;
}

.tbu0f.nude,
.nude.tbu0f {
    background: none !important;
    --bd-borderWidth: 0px;
    --bd-borderStartStartRadius: 0px;
    --bd-borderStartEndRadius: 0px;
    --bd-borderEndStartRadius: 0px;
    --bd-borderEndEndRadius: 0px;
    box-shadow: none !important;
    --pd-paddingInline: 0px;
    --pd-paddingBlock: 0px;
    --nu-nudePr: ;
}

:where(.tbu0f):not(:is(.nude.tbu0f, .tbu0f.nude)) {
    --nu-nudePr: initial;
}

.tbu0f.szSm {
    --bsc-borderRadius: var(--bsc-borderRadiusSm);
    --bsc-paddingInline: var(--bsc-paddingInlineSm);
    --bsc-paddingBlock: var(--bsc-paddingBlockSm);
    --bsc-fontSize: var(--bsc-fontSizeSm);
    --navs-borderRadius: var(--navs-borderRadiusSm);
    --navs-paddingInline: var(--navs-paddingInlineSm);
    --navs-paddingBlock: var(--navs-paddingBlockSm);
    --navs-menuPaddingInline: var(--navs-menuPaddingInlineSm);
    --navs-menuPaddingBlock: var(--navs-menuPaddingBlockSm);
}

.tbu0f.szLg {
    --bsc-borderRadius: var(--bsc-borderRadiusLg);
    --bsc-paddingInline: var(--bsc-paddingInlineLg);
    --bsc-paddingBlock: var(--bsc-paddingBlockLg);
    --bsc-fontSize: var(--bsc-fontSizeLg);
    --navs-borderRadius: var(--navs-borderRadiusLg);
    --navs-paddingInline: var(--navs-paddingInlineLg);
    --navs-paddingBlock: var(--navs-paddingBlockLg);
    --navs-menuPaddingInline: var(--navs-menuPaddingInlineLg);
    --navs-menuPaddingBlock: var(--navs-menuPaddingBlockLg);
}
