.navside {
    // private variables, not exported, so use a short name:
    // restMenuInlineSize:
    --v1: calc(var(--navs-menuInlineSize) - (2 * var(--navs-borderRadius)));
    // restMenuBlockSize:
    --v2: calc(var(--navs-menuBlockSize) - (2 * var(--navs-borderRadius)));
    // menuShiftPos:
    --v3: calc(var(--navside-menuSelectedIndex) * var(--navs-menuBlockSize));
    
    
    
    // layouts:
    display: inline-grid;
    grid-template:
        "..... ....... ....... ........"var(--navs-paddingBlock)
        "..... ....... ....... ........"calc(0px - var(--navs-borderRadius))
        "..... ....... fill1    corner1"var(--navs-borderRadius)
        "..... corner2 ....... ........"var(--navs-borderRadius)
        "..... void3   ....... ........"var(--v2)
        "..... corner4 ....... ........"var(--navs-borderRadius)
        "..... ......  fill5    corner5"var(--navs-borderRadius)
        "..... menusC3 .......  menusC4"auto
        "..... ....... ....... ........"1fr
        "..... ....... ....... ........"var(--navs-paddingBlock)
        /
        var(--navs-paddingInline) var(--navs-borderRadius) auto var(--navs-borderRadius)
        ;
    
    
    
    // sizes:
    min-inline-size: var(--navs-minInlineSize);
    min-block-size: var(--navs-minBlockSize);
    
    
    
    // borders & shadows:
    filter: var(--navs-dropShadow);
    // invisible border, just for maintaining size:
    border        : solid var(--navs-borderWidth) transparent;
}



/* <Underlay>: */

.navside>.underlay {
    // positions:
    grid-area: 1/1/-1/-1;
    
    
    
    // layouts:
    display: grid;
    grid-template:
        "..... ....... ....... ........" var(--navs-paddingBlock)
        "..... ....... ....... ........" var(--v3)
        "..... ....... fill1    corner1" var(--navs-borderRadius)
        "..... corner2 ....... ........" var(--navs-borderRadius)
        "..... void3   ....... ........" var(--v2)
        "..... corner4 ....... ........" var(--navs-borderRadius)
        "..... ......  fill5    corner5" var(--navs-borderRadius)
        "..... menusC3 .......  menusC4" auto
        "..... ....... ....... ........" 1fr
        "..... ....... ....... ........" var(--navs-paddingBlock)
        /
        var(--navs-paddingInline) var(--navs-borderRadius) auto var(--navs-borderRadius)
        ;
    
    clip-path: polygon(0 0, 100% 0, 100% calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 1)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.987)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.156)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.951)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.309)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.891)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.453)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.809)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.587)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.707)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.707)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.587)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.809)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.453)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.891)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.309)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.951)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.156)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (var(--navs-borderRadius) * 0.987)), calc(100% - var(--navs-borderRadius)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + var(--navs-borderRadius)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + var(--navs-borderRadius)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 1.2246467991473532e-16)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -1)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.156)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.987)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.309)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.951)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.453)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.891)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.587)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.809)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.707)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.707)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.809)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.587)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.891)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.453)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.951)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.309)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.987)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -0.156)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline)) calc((var(--navs-borderWidth) * 2) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius))), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline)) calc(var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * -1.1102230246251565e-16)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.012)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.156)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.048)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.309)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.108)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.453)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.190)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.587)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.292)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.707)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.412)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.809)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.546)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.891)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.690)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.951)), calc((var(--navs-borderWidth) * 3) + var(--navs-paddingInline) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.843)) calc(var(--navs-borderWidth) + var(--navs-paddingBlock) + var(--v3) + (2 * var(--navs-borderRadius)) + var(--v2) + ((var(--navs-borderRadius) - var(--navs-borderWidth)) * 0.987)), calc((var(--navs-borderWidth) * 2) + var(--navs-paddingInline) + var(--navs-borderRadius)) calc(var(--navs-paddingBlock) + var(--v3) + (3 * var(--navs-borderRadius)) + var(--v2)), calc(100% - var(--navs-borderRadius)) calc(var(--navs-paddingBlock) + var(--v3) + (3 * var(--navs-borderRadius)) + var(--v2)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * -1.8369701987210297e-16)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -1)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.156)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.987)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.309)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.951)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.453)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.891)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.587)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.809)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.707)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.707)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.809)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.587)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.891)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.453)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.951)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.309)), calc(100% - var(--navs-borderRadius) + (var(--navs-borderRadius) * 0.987)) calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2) + (var(--navs-borderRadius) * -0.156)), 100% calc(var(--navs-paddingBlock) + var(--v3) + (4 * var(--navs-borderRadius)) + var(--v2)), 100% 100%, 0 100%);
    
    
    
    // borders:
    border        : var(--navs-borderStyle) var(--navs-borderWidth) var(--th-border);
    border-radius : var(--navs-borderRadius);
    
    
    
    // backgrounds:
    background: var(--th-backg);
    
    
    
    // spacings:
    margin: calc(0px - var(--navs-borderWidth));
    
    
    
    // children:
    &>:is(.fill1, .corner1, .corner2, .void3, .corner4, .fill5, .corner5) {
        border: inherit;
        position: relative;
        inset-inline-start: var(--navs-borderWidth);
    }
    
    &>:is(.fill1, .corner1) {
        inset-block-start: var(--navs-borderWidth);
    }
    
    &>:is(.fill5, .corner5) {
        inset-block-end: var(--navs-borderWidth);
    }
    
    &>.fill1 {
        grid-area: fill1;
        border-inline: 0;
        border-block-start: 0;
    }
    
    &>.corner1 {
        grid-area: corner1;
        border-inline-start: 0;
        border-block-start: 0;
        border-end-end-radius: var(--navs-borderRadius);
    }
    
    &>.corner2 {
        grid-area: corner2;
        border-inline-end: 0;
        border-block-end: 0;
        border-start-start-radius: var(--navs-borderRadius);
    }
    
    &>.void3 {
        grid-area: void3;
        border-inline-end: 0;
        border-block: 0;
    }
    
    &>.corner4 {
        grid-area: corner4;
        border-inline-end: 0;
        border-block-start: 0;
        border-end-start-radius: var(--navs-borderRadius);
    }
    
    &>.fill5 {
        grid-area: fill5;
        border-inline: 0;
        border-block-end: 0;
    }
    
    &>.corner5 {
        grid-area: corner5;
        border-inline-start: 0;
        border-block-end: 0;
        border-start-end-radius: var(--navs-borderRadius);
    }
}



/* <Menus>: */

.navside>.menus {
    // positions:
    grid-area: corner2/corner2/menusC4/menusC4;
    z-index: 1;
    
    
    
    // resets:
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    
    
    
    // layouts:
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    flex-wrap: nowrap;
    
    
    
    // children:
    >li {
        // resets:
        text-align: unset;
        
        
        
        // layouts:
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
        flex-wrap: inherit;
        
        
        
        // children:
        >* {
            // resets:
            appearance: none;
            
            
            
            // layouts:
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: center;
            background: transparent;
            flex: 1 1 auto;
            
            
            
            // sizes:
            box-sizing: border-box;
            inline-size: var(--navs-menuInlineSize);
            block-size: var(--navs-menuBlockSize);
            
            
            // spacings:
            padding-inline: var(--navs-menuPaddingInline);
            padding-block: var(--navs-menuPaddingBlock);
            column-gap: var(--navs-menuGapInline);
            row-gap: var(--navs-menuGapBlock);
        }
    }
}


/* themes: */

.navside {
    &.thPrimary {
        --th-backg: var(--col-primary);
        --th-border: var(--col-primaryBold);
    }
    &.thSecondary {
        --th-backg: var(--col-secondary);
        --th-border: var(--col-secondaryBold);
    }
    &.thSuccess {
        --th-backg: var(--col-success);
        --th-border: var(--col-successBold);
    }
    &.thInfo {
        --th-backg: var(--col-info);
        --th-border: var(--col-infoBold);
    }
    &.thWarning {
        --th-backg: var(--col-warning);
        --th-border: var(--col-warningBold);
    }
    &.thDanger {
        --th-backg: var(--col-danger);
        --th-border: var(--col-dangerBold);
    }
    &.thLight {
        --th-backg: var(--col-light);
        --th-border: var(--col-lightBold);
    }
    &.thDark {
        --th-backg: var(--col-dark);
        --th-border: var(--col-darkBold);
    }
}