:root {
    --col-blue: #0d6efd;
    --col-indigo: #6610f2;
    --col-purple: #6f42c1;
    --col-pink: #d63384;
    --col-red: #dc3545;
    --col-orange: #fd7e14;
    --col-yellow: #ffc107;
    --col-green: #198754;
    --col-teal: #20c997;
    --col-cyan: #0dcaf0;
    --col-black: #000000;
    --col-white: #ffffff;
    --col-gray: #6c757d;
    --col-grayDark: #343a40;
    --col-primary: #2f3137;
    --col-secondary: var(--col-gray);
    --col-success: var(--col-green);
    --col-info: var(--col-cyan);
    --col-warning: var(--col-yellow);
    --col-danger: var(--col-red);
    --col-light: #f8f9fa;
    --col-dark: #212529;
    --col-backg: var(--col-white);
    --col-foreg: var(--col-dark);
    --col-backgThin: rgba(255, 255, 255, 0.5);
    --col-backgBold: #4d5154;
    --col-foregThin: rgba(33, 37, 41, 0.5);
    --col-foregMild: #d3d3d4;
    --col-primaryText: #616775;
    --col-secondaryText: var(--col-light);
    --col-successText: var(--col-secondaryText);
    --col-infoText: var(--col-foreg);
    --col-warningText: var(--col-foreg);
    --col-dangerText: var(--col-secondaryText);
    --col-lightText: var(--col-foreg);
    --col-darkText: var(--col-secondaryText);
    --col-primaryThin: hsla(222, 8%, 20%, 0.5);
    --col-secondaryThin: rgba(108, 117, 125, 0.5);
    --col-successThin: rgba(25, 135, 84, 0.5);
    --col-infoThin: rgba(13, 202, 240, 0.5);
    --col-warningThin: rgba(255, 193, 7, 0.5);
    --col-dangerThin: rgba(220, 53, 69, 0.5);
    --col-lightThin: rgba(248, 249, 250, 0.5);
    --col-darkThin: var(--col-foregThin);
    --col-primaryMild: var(--col-primaryText);
    --col-secondaryMild: #e2e3e5;
    --col-successMild: #d1e7dd;
    --col-infoMild: #cff4fc;
    --col-warningMild: #fff3cd;
    --col-dangerMild: #f8d7da;
    --col-lightMild: #fefefe;
    --col-darkMild: var(--col-foregMild);
    --col-primaryBold: var(--col-primaryText);
    --col-secondaryBold: #30353a;
    --col-successBold: #1f3932;
    --col-infoBold: #1d4651;
    --col-warningBold: #4d4422;
    --col-dangerBold: #46282f;
    --col-lightBold: #4c4f53;
    --col-darkBold: var(--col-foreg);
}