:root {
    --indi-filterDisable: grayscale(50%) contrast(50%);
    --indi-filterActive: brightness(1.7) saturate(6);
    --indi-animEnable: 300ms ease-out both indi-enable;
    --indi-animDisable: 300ms ease-out both indi-disable;
    --indi-animActive: 150ms ease-out both indi-active;
    --indi-animPassive: 300ms ease-out both indi-passive;
}

@keyframes indi-disable {
    from {
        filter: var(--ac-filter) var(--cl-filter) var(--in-filter) var(--ex-filter) var(--an-filterNone);
    }
    to {
        filter: var(--ac-filter) var(--cl-filter) var(--in-filter) var(--ex-filter) var(--an-filterNone) var(--di-filter);
    }
}

@keyframes indi-enable {
    from {
        filter: var(--ac-filter) var(--cl-filter) var(--in-filter) var(--ex-filter) var(--an-filterNone) var(--di-filter);
    }
    to {
        filter: var(--ac-filter) var(--cl-filter) var(--in-filter) var(--ex-filter) var(--an-filterNone);
    }
}

@keyframes indi-active {
    from {
        filter: var(--cl-filter) var(--in-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone);
    }
    to {
        filter: var(--cl-filter) var(--in-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone) var(--ac-filter);
    }
}

@keyframes indi-passive {
    from {
        filter: var(--cl-filter) var(--in-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone) var(--ac-filter);
    }
    to {
        filter: var(--cl-filter) var(--in-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone);
    }
}