:root {
    --bsc-backg: transparent;
    --bsc-altBackg: var(--col-primary);
    --bsc-backgGrad: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)) border-box;
    --bsc-foreg: currentColor;
    --bsc-altForeg: var(--col-primaryText);
    --bsc-borderStyle: var(--bor-style);
    --bsc-borderWidth: var(--bor-defaultWidth);
    --bsc-borderColor: var(--bor-color);
    --bsc-borderRadius: var(--bor-rd-md);
    --bsc-borderRadiusSm: var(--bor-rd-sm);
    --bsc-borderRadiusLg: var(--bor-rd-lg);
    --bsc-ring: var(--col-secondaryThin);
    --bsc-transitionDuration: 300ms;
    --bsc-transition: opacity var(--bsc-transitionDuration) ease-out, inline-size var(--bsc-transitionDuration) ease-out, block-size var(--bsc-transitionDuration) ease-out, background var(--bsc-transitionDuration) ease-out, color var(--bsc-transitionDuration) ease-out, border var(--bsc-transitionDuration) ease-out, border-radius var(--bsc-transitionDuration) ease-out, font-size var(--bsc-transitionDuration) ease-out;
    --bsc-paddingInline: calc((var(--bsc-paddingBlockLg) + var(--bsc-paddingInlineLg))/2);
    --bsc-paddingBlock: calc((var(--bsc-paddingBlockSm) + var(--bsc-paddingBlockLg))/2);
    --bsc-paddingInlineSm: var(--spc-sm);
    --bsc-paddingBlockSm: var(--spc-xs);
    --bsc-paddingInlineLg: var(--spc-md);
    --bsc-paddingBlockLg: var(--bsc-paddingInlineSm);
    --bsc-fontSize: var(--fontSizeMd);
    --bsc-fontSizeSm: calc((var(--fontSizeSm) + var(--bsc-fontSize))/2);
    --bsc-fontSizeLg: var(--fontSizeLg);
    --bsc-fontFamily: inherit;
    --bsc-fontWeight: inherit;
    --bsc-fontStyle: inherit;
    --bsc-textDecoration: inherit;
    --bsc-lineHeight: inherit;
}