:root {
    --ctrl-cursorDisable: not-allowed;
    --ctrl-boxShadowFocus: 0 0 0 0.25rem;
    --ctrl-filterArrive: brightness(125%) drop-shadow(0 0 0.01px rgba(0, 0, 0, 0.4));
    --ctrl-animFocus: 150ms ease-out both ctrl-focus;
    --ctrl-animBlur: 300ms ease-out both ctrl-blur;
    --ctrl-animArrive: 150ms ease-out both ctrl-arrive;
    --ctrl-animLeave: 300ms ease-out both ctrl-leave;
}

@keyframes ctrl-focus {
    from {
        box-shadow: var(--an-boxShadowNone);
    }
    to {
        box-shadow: var(--an-boxShadowNone), var(--fo-boxShadow);
    }
}

@keyframes ctrl-blur {
    from {
        box-shadow: var(--an-boxShadowNone), var(--fo-boxShadow);
    }
    to {
        box-shadow: var(--an-boxShadowNone);
    }
}

@keyframes ctrl-arrive {
    from {
        filter: var(--ac-filter) var(--cl-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone);
    }
    to {
        filter: var(--ac-filter) var(--cl-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone) var(--in-filter);
    }
}

@keyframes ctrl-leave {
    from {
        filter: var(--ac-filter) var(--cl-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone) var(--in-filter);
    }
    to {
        filter: var(--ac-filter) var(--cl-filter) var(--di-filter) var(--ex-filter) var(--an-filterNone);
    }
}