:root {
    --indi-filterDisableContrast   : 50%;
    --indi-filterDisableBrightness : 100%;
    --indi-filterDisableSaturate   : 50%;
    
    --indi-filterActiveContrast    : 100%;
    --indi-filterActiveBrightness  : 170%;
    --indi-filterActiveSaturate    : 600%;
    
    --indi-transDisable            : 300ms ease-out;
    --indi-transActive             : 300ms ease-out;
}
