:root {
    --list-borderStyle: var(--bsc-borderStyle);
    --list-borderWidth: var(--bsc-borderWidth);
    --list-borderColor: var(--bsc-borderColor);
    --list-borderRadius: var(--bsc-borderRadius);
    --list-borderRadiusSm: var(--bsc-borderRadiusSm);
    --list-borderRadiusLg: var(--bsc-borderRadiusLg);
    --list-transition: var(--bsc-transition);
    --list-itemTransition: var(--list-transition);
    --list-contentTransition: var(--list-itemTransition);
    --list-tabTransition: var(--list-itemTransition);
    --list-bulletTransition: var(--list-itemTransition);
    --list-buttonSpacing: var(--spc-sm);
    --list-buttonSpacingSm: var(--spc-xs);
    --list-buttonSpacingLg: var(--spc-md);
    --list-tabTextAlign: center;
    --list-breadcrumbPaddingInline: var(--bsc-paddingBlock);
    --list-breadcrumbPaddingBlock: var(--list-breadcrumbPaddingInline);
    --list-breadcrumbPaddingInlineSm: var(--bsc-paddingBlockSm);
    --list-breadcrumbPaddingBlockSm: var(--list-breadcrumbPaddingInlineSm);
    --list-breadcrumbPaddingInlineLg: var(--bsc-paddingBlockLg);
    --list-breadcrumbPaddingBlockLg: var(--list-breadcrumbPaddingInlineLg);
    --list-breadcrumbSeparatorImage: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpolyline points='7.5 3 16.5 12 7.5 21' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='3'/%3e%3c/svg%3e");
    --list-breadcrumbSeparatorImageBlock: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpolyline points='7.5 3 16.5 12 7.5 21' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='3' transform-origin='center' transform='rotate%2890%29'/%3e%3c/svg%3e");
    --list-breadcrumbSeparatorInlineSize: 0.8em;
    --list-breadcrumbSeparatorBlockSize: auto;
    --list-breadcrumbSeparatorInlineSizeBlock: var(--list-breadcrumbSeparatorBlockSize);
    --list-breadcrumbSeparatorBlockSizeBlock: var(--list-breadcrumbSeparatorInlineSize);
    --list-breadcrumbSeparatorMarginInline: 0.25em;
    --list-breadcrumbSeparatorMarginBlock: 0em;
    --list-breadcrumbSeparatorMarginInlineBlock: var(--list-breadcrumbSeparatorMarginBlock);
    --list-breadcrumbSeparatorMarginBlockBlock: var(--list-breadcrumbSeparatorMarginInline);
    --list-bulletSpacing: var(--list-buttonSpacing);
    --list-bulletSpacingSm: var(--list-buttonSpacingSm);
    --list-bulletSpacingLg: var(--list-buttonSpacingLg);
    --list-bulletPadding: var(--list-bulletSpacingSm);
    --list-bulletPaddingSm: var(--spc-xxs);
    --list-bulletPaddingLg: var(--list-bulletSpacing);
    --list-numberedContent: counter(ListNumber) ". ";
}