.hs1wz {
    --fo-boxShadow: var(--an-boxShadowNone);
    --ex-filter: var(--an-filterNone);
    --di-filter: var(--an-filterNone);
    --ac-filter: var(--an-filterNone);
    --in-filter: var(--an-filterNone);
    --cl-filter: var(--an-filterNone);
    --ex-anim: var(--an-animNone);
    --co-anim: var(--an-animNone);
    --di-anim: var(--an-animNone);
    --ac-anim: var(--an-animNone);
    --fo-anim: var(--an-animNone);
    --in-anim: var(--an-animNone);
    --cl-anim: var(--an-animNone);
    --iv-animValid: var(--an-animNone);
    --iv-animInvalid: var(--an-animNone);
    background: var(--bg-backg);
    color: var(--fg-foreg);
    border-style: var(--bsc-borderStyle);
    border-width: var(--bsc-borderWidth);
    border-color: var(--bsc-borderColor);
    border-radius: var(--bsc-borderRadius);
    transition-duration: var(--bsc-transitionDuration);
    padding-inline: var(--pd-paddingInline);
    padding-block: var(--pd-paddingBlock);
    font-size: var(--bsc-fontSize);
    font-family: var(--bsc-fontFamily);
    font-weight: var(--bsc-fontWeight);
    font-style: var(--bsc-fontStyle);
    text-decoration: var(--bsc-textDecoration);
    line-height: var(--bsc-lineHeight);
    border: var(--bd-border);
    border-start-start-radius: var(--bd-borderStartStartRadius);
    border-start-end-radius: var(--bd-borderStartEndRadius);
    border-end-start-radius: var(--bd-borderEndStartRadius);
    border-end-end-radius: var(--bd-borderEndEndRadius);
    box-shadow: var(--an-boxShadow);
    filter: var(--an-filter);
    animation: var(--an-anim);
    --bg-backgNone: linear-gradient(transparent, transparent) border-box;
    --bg-backgColorFn: var(--th-backgCond, var(--th-backg, var(--bsc-backg)));
    --bg-altBackgColorFn: var(--th-altBackgCond, var(--th-altBackg, var(--bsc-altBackg)));
    --bg-backgColor: var(--ol-backgTg, var(--mi-backgTg, var(--bg-backgColorFn)));
    --bg-altBackgColor: var(--ol-altBackgTg, var(--mi-altBackgTg, var(--bg-altBackgColorFn)));
    --bg-backg: var(--gd-backgGradTg, var(--bg-backgNone)), var(--ol-noBackgTg, var(--bg-backgColor));
    --bg-altBackg: var(--gd-backgGradTg, var(--bg-backgNone)), var(--ol-noBackgTg, var(--bg-altBackgColor));
    --fg-foregFn: var(--th-foregCond, var(--th-foreg, var(--bsc-foreg)));
    --fg-altForegFn: var(--th-altForegCond, var(--th-altForeg, var(--bsc-altForeg)));
    --fg-foreg: var(--ol-foregTg, var(--mi-foregTg, var(--fg-foregFn)));
    --fg-altForeg: var(--ol-altForegTg, var(--mi-altForegTg, var(--fg-altForegFn)));
    --bd-borderColorFn: var(--th-borderCond, var(--th-border, var(--bsc-borderColor)));
    --bd-borderColor: var(--ol-foregTg, var(--bd-borderColorFn));
    --bd-border: var(--bd-borderStyle) var(--bd-borderWidth) var(--bd-borderColor);
    --bd-borderRadius: var(--bd-borderStartStartRadius) var(--bd-borderStartEndRadius) var(--bd-borderEndEndRadius) var(--bd-borderEndStartRadius);
    --ri-ringFn: var(--th-ringCond, var(--th-ring, var(--bsc-ring)));
    --ri-ring: var(--ri-ringFn);
    --an-boxShadowNone: 0 0 transparent;
    --an-filterNone: brightness(100%);
    --an-transformNone: translate(0);
    --an-animNone: none;
    --an-boxShadow: var(--fo-boxShadow), var(--an-boxShadowNone);
    --an-filter: var(--ex-filter) var(--di-filter) var(--ac-filter) var(--in-filter) var(--cl-filter) var(--an-filterNone);
    --an-transform: var(--an-transformNone);
    --an-anim: var(--ex-anim), var(--co-anim), var(--di-anim), var(--ac-anim), var(--fo-anim), var(--in-anim), var(--cl-anim), var(--iv-animValid), var(--iv-animInvalid), var(--an-animNone);
    --pd-paddingInline: var(--bsc-paddingInline);
    --pd-paddingBlock: var(--bsc-paddingBlock);
    --pd-padding: var(--pd-paddingBlock) var(--pd-paddingInline);
    margin: 0;
    display: block;
    flex: 1 1 auto;
    transition: var(--list-itemTransition), border-width 0s;
    --gd-backgGrad: var(--bsc-backgGrad);
    --gd-gradientSw: var(--gd-gradientPr);
    --gd-backgGradTg: var(--gd-gradientSw) var(--gd-backgGrad);
    --ol-outlinedSw: var(--ol-outlinedPr);
    --ol-backgFn: var(--th-backgMildCond, var(--th-backgMild, var(--bsc-backg)));
    --ol-foregFn: var(--th-foregOutlinedCond, var(--th-foregOutlined, var(--bsc-foreg)));
    --ol-altBackgFn: var(--th-altBackgOutlinedCond, var(--th-altBackgOutlined, var(--bsc-altBackg)));
    --ol-altForegFn: var(--th-altForegOutlinedCond, var(--th-altForegOutlined, var(--bsc-altForeg)));
    --ol-noBackgTg: var(--ol-outlinedSw) transparent;
    --ol-backgTg: var(--ol-outlinedSw) var(--ol-backgFn);
    --ol-foregTg: var(--ol-outlinedSw) var(--ol-foregFn);
    --ol-altBackgTg: var(--ol-outlinedSw) var(--ol-altBackgFn);
    --ol-altForegTg: var(--ol-outlinedSw) var(--ol-altForegFn);
    --mi-mildSw: var(--mi-mildPr);
    --mi-backgFn: var(--th-backgMildCond, var(--th-backgMild, var(--bsc-backg)));
    --mi-foregFn: var(--th-foregMildCond, var(--th-foregMild, var(--bsc-foreg)));
    --mi-altBackgFn: var(--th-altBackgMildCond, var(--th-altBackgMild, var(--bsc-altBackg)));
    --mi-altForegFn: var(--th-altForegMildCond, var(--th-altForegMild, var(--bsc-altForeg)));
    --mi-backgTg: var(--mi-mildSw) var(--mi-backgFn);
    --mi-foregTg: var(--mi-mildSw) var(--mi-foregFn);
    --mi-altBackgTg: var(--mi-mildSw) var(--mi-altBackgFn);
    --mi-altForegTg: var(--mi-mildSw) var(--mi-altForegFn);
    --nu-nudeSw: var(--nu-nudePr);
    --ac-filterActive: var(--indi-filterActive);
    --ac-animActive: var(--indi-animActive);
    --ac-animPassive: var(--indi-animPassive);
    --ak-filterActive: var(--ak-altFilterActiveTg, var(--cl-filterPress));
    --ak-animPress: var(--ak-altAnimPressTg, 1ms dummyPress);
    --ak-animRelease: var(--ak-altAnimReleaseTg, 1ms dummyRelease);
    --ak-animActive: var(--ak-altAnimActiveTg, var(--cl-animPressAsActive));
    --ak-animPassive: var(--ak-altAnimPassiveTg, var(--cl-animReleaseAsPassive));
    --ak-animActiveAsClick: var(--ak-altAnimActiveAsClickTg, 1ms dummyActive);
    --ak-animPassiveAsClick: var(--ak-altAnimPassiveAsClickTg, 1ms dummyPassive);
    --ak-altFilterActiveTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--ac-filterActive);
    --ak-altAnimPressTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--cl-animPress);
    --ak-altAnimReleaseTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--cl-animRelease);
    --ak-altAnimActiveTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--ac-animActive);
    --ak-altAnimPassiveTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--ac-animPassive);
    --ak-altAnimActiveAsClickTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--ac-animActive);
    --ak-altAnimPassiveAsClickTg: var(--ol-outlinedPr, var(--mi-mildPr)) var(--ac-animPassive);
}

.hs1wz::selection,
.hs1wz ::selection {
    background: var(--bg-altBackgColor);
    color: var(--fg-altForeg);
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_) {
    --gr-borderWidth: 0px;
    border-block-width: 0;
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_):not(:where(.overlay, .foreign)):where(:first-child, .first-visible-child) {
    border-inline-start-width: 0;
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_):not(:where(.overlay, .foreign)):where(:last-child, .last-visible-child) {
    border-inline-end-width: 0;
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_)+*:not(:where(.overlay, .foreign)) {
    border-inline-start-width: 0;
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_):not(:where(.overlay, .foreign, :first-child, .first-visible-child)) {
    --bd-borderStartStartRadius: 0px;
    --bd-borderEndStartRadius: 0px;
}

:is(.inline, .inline-start, .inline-end)>*>.hs1wz:not(_):not(:where(.overlay, .foreign, :last-child, .last-visible-child)) {
    --bd-borderStartEndRadius: 0px;
    --bd-borderEndEndRadius: 0px;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_) {
    --gr-borderWidth: 0px;
    border-inline-width: 0;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_):not(:where(.overlay, .foreign)):where(:first-child, .first-visible-child) {
    border-block-start-width: 0;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_):not(:where(.overlay, .foreign)):where(:last-child, .last-visible-child) {
    border-block-end-width: 0;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_)+*:not(:where(.overlay, .foreign)) {
    border-block-start-width: 0;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_):not(:where(.overlay, .foreign, :first-child, .first-visible-child)) {
    --bd-borderStartStartRadius: 0px;
    --bd-borderStartEndRadius: 0px;
}

:not(:is(.inline, .inline-start, .inline-end))>*>.hs1wz:not(_):not(:where(.overlay, .foreign, :last-child, .last-visible-child)) {
    --bd-borderEndStartRadius: 0px;
    --bd-borderEndEndRadius: 0px;
}

.hs1wz.szSm {
    --bsc-borderRadius: var(--bsc-borderRadiusSm);
    --bsc-paddingInline: var(--bsc-paddingInlineSm);
    --bsc-paddingBlock: var(--bsc-paddingBlockSm);
    --bsc-fontSize: var(--bsc-fontSizeSm);
}

.hs1wz.szLg {
    --bsc-borderRadius: var(--bsc-borderRadiusLg);
    --bsc-paddingInline: var(--bsc-paddingInlineLg);
    --bsc-paddingBlock: var(--bsc-paddingBlockLg);
    --bsc-fontSize: var(--bsc-fontSizeLg);
}

.hs1wz.gradient,
.gradient.hs1wz {
    --gd-gradientPr: ;
}

.hs1wz.not-gradient,
.not-gradient.hs1wz {
    --gd-gradientPr: initial;
}

:where(.hs1wz):not(:is(.gradient.hs1wz, .hs1wz.gradient, .not-gradient.hs1wz, .hs1wz.not-gradient)) {
    --gd-gradientPr: inherit;
}

.hs1wz.outlined,
.outlined.hs1wz {
    --ol-outlinedPr: ;
}

.hs1wz.not-outlined,
.not-outlined.hs1wz {
    --ol-outlinedPr: initial;
}

:where(.hs1wz):not(:is(.outlined.hs1wz, .hs1wz.outlined, .not-outlined.hs1wz, .hs1wz.not-outlined)) {
    --ol-outlinedPr: inherit;
}

.hs1wz.thPrimary {
    --th-backg: var(--col-primary);
    --th-foreg: var(--col-primaryText);
    --th-border: var(--col-primaryBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-primaryMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-primaryThin);
}

.hs1wz.thSecondary {
    --th-backg: var(--col-secondary);
    --th-foreg: var(--col-secondaryText);
    --th-border: var(--col-secondaryBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-secondaryMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-secondaryThin);
}

.hs1wz.thSuccess {
    --th-backg: var(--col-success);
    --th-foreg: var(--col-successText);
    --th-border: var(--col-successBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-successMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-successThin);
}

.hs1wz.thInfo {
    --th-backg: var(--col-info);
    --th-foreg: var(--col-infoText);
    --th-border: var(--col-infoBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-infoMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-infoThin);
}

.hs1wz.thWarning {
    --th-backg: var(--col-warning);
    --th-foreg: var(--col-warningText);
    --th-border: var(--col-warningBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-warningMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-warningThin);
}

.hs1wz.thDanger {
    --th-backg: var(--col-danger);
    --th-foreg: var(--col-dangerText);
    --th-border: var(--col-dangerBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-dangerMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-dangerThin);
}

.hs1wz.thLight {
    --th-backg: var(--col-light);
    --th-foreg: var(--col-lightText);
    --th-border: var(--col-lightBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-lightMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-lightThin);
}

.hs1wz.thDark {
    --th-backg: var(--col-dark);
    --th-foreg: var(--col-darkText);
    --th-border: var(--col-darkBold);
    --th-altBackg: var(--th-backgMild);
    --th-altForeg: var(--th-foregMild);
    --th-foregOutlined: var(--th-backg);
    --th-altBackgOutlined: var(--th-backg);
    --th-altForegOutlined: var(--th-foreg);
    --th-backgMild: var(--col-darkMild);
    --th-foregMild: var(--th-border);
    --th-altBackgMild: var(--th-backg);
    --th-altForegMild: var(--th-foreg);
    --th-ring: var(--col-darkThin);
}

.hs1wz.mild,
.mild.hs1wz {
    --mi-mildPr: ;
}

.hs1wz.not-mild,
.not-mild.hs1wz {
    --mi-mildPr: initial;
}

:where(.hs1wz):not(:is(.mild.hs1wz, .hs1wz.mild, .not-mild.hs1wz, .hs1wz.not-mild)) {
    --mi-mildPr: inherit;
}

.hs1wz.nude,
.nude.hs1wz {
    background: none !important;
    --bd-borderWidth: 0px;
    --bd-borderStartStartRadius: 0px;
    --bd-borderStartEndRadius: 0px;
    --bd-borderEndStartRadius: 0px;
    --bd-borderEndEndRadius: 0px;
    box-shadow: none !important;
    --pd-paddingInline: 0px;
    --pd-paddingBlock: 0px;
    --nu-nudePr: ;
}

:where(.hs1wz):not(:is(.nude.hs1wz, .hs1wz.nude)) {
    --nu-nudePr: initial;
}

.hs1wz.enabling.enabling.enabling {
    --di-filter: var(--indi-filterDisable);
    --di-anim: var(--indi-animEnable);
}

.hs1wz:is(.disabling, [aria-disabled]:not([aria-disabled="false"]), :disabled):not(:is(.enabling, .disabled)) {
    --di-filter: var(--indi-filterDisable);
    --di-anim: var(--indi-animDisable);
}

.hs1wz.disabled.disabled.disabled {
    --di-filter: var(--indi-filterDisable);
}

.hs1wz:is(:is(.activating, [aria-checked]:not([aria-checked="false"]), [aria-pressed]:not([aria-pressed="false"]), [aria-selected]:not([aria-selected="false"]), :checked):not(:is(.activated, .passivating)), .activated) {
    --ol-outlinedSw: initial;
    --mi-mildSw: initial;
}

@keyframes dummyPress {}

@keyframes dummyRelease {}

@keyframes dummyActive {}

@keyframes dummyPassive {}

.hs1wz.pressing.pressing.pressing.activated {
    --cl-anim: var(--ak-animPress);
}

.hs1wz.releasing.releasing.releasing:is(:is(.activating, [aria-checked]:not([aria-checked="false"]), [aria-pressed]:not([aria-pressed="false"]), [aria-selected]:not([aria-selected="false"]), :checked):not(:is(.activated, .passivating)), .activated) {
    --cl-anim: var(--ak-animRelease);
}

.hs1wz.activated.activated.activated {
    --ac-filter: var(--ac-filterActive);
    --cl-filter: var(--ak-filterActive);
}

.hs1wz:is(.activating, [aria-checked]:not([aria-checked="false"]), [aria-pressed]:not([aria-pressed="false"]), [aria-selected]:not([aria-selected="false"]), :checked):not(:is(.activated, .passivating)) {
    --ac-filter: var(--ac-filterActive);
    --ac-anim: var(--ak-animActive);
    --cl-filter: var(--ak-filterActive);
}

.hs1wz:is(.activating, [aria-checked]:not([aria-checked="false"]), [aria-pressed]:not([aria-pressed="false"]), [aria-selected]:not([aria-selected="false"]), :checked):not(:is(.activated, .passivating)):is(.pressing, .pressed, .releasing) {
    --ac-anim: var(--ak-animActiveAsClick);
}

.hs1wz.passivating.passivating.passivating {
    --ac-filter: var(--ac-filterActive);
    --ac-anim: var(--ak-animPassive);
    --cl-filter: var(--ak-filterActive);
}

.hs1wz.passivating.passivating.passivating:is(.pressing, .pressed, .releasing) {
    --ac-anim: var(--ak-animPassiveAsClick);
}

.hs1wz:is(.pressing, .pressed, .releasing):nth-child(n):nth-child(n) {
    --cl-filter: var(--cl-filterPress);
}